/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "bootstrap";

$blue: #3198d4;
$charcoal: #454547;
$gray: #f5f5f5;

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: $gray;
  
  .container {
    text-align: center;
  }

}

.navbar {
  border-radius: 0;
}

.navbar-default .navbar-nav > .active > a {
    background-color: $blue;
    color: white;
}

.logo {
  padding: 10px;
}

.container .jumbotron {
  border-radius: 0;
}

#banner {
  min-height: 246px;
  position: relative;

  h1.pagetitle {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    width: 100%;
    margin: 0;
    padding: 10px;
    font-size: 2.5em;
    background: $charcoal;
    color: white;
  }

}

body.home #banner {
    min-height: 346px;
}

h1, h2 {
  font-family: $font-family-serif
}
/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}